.popup__job-input {
  display: flex;
  width: 100%;
  min-height: 27px;
  font-family: 'Inter', Arial, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  padding: 0;
  margin-bottom: 48px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__job-input:focus {
  outline: none;
}

@media screen and (max-width: 950px) {
  .popup__job-input {
    margin-bottom: 45px;
  }
}